.icon1 {
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  
  .icon2 {
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  
  .icon3 {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .icon4 {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  
  .icon5 {
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  
  @media screen and (max-width: 768px) {
    .icon1, .icon2, .icon3, .icon4, .icon5 {
      width: 40px;
      height: 40px;
    }
  }
  