.button {
  top: 60%;
  left: calc(100% - 300px);
  width: 180px;
  height: 180px;
  background-color: #1c1d20;
  color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  p {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    z-index: 1;
  }
}
