@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    @apply bg-secondary leading-relaxed;
  }
  .page {
    @apply w-full  overflow-hidden;
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply leading-[1.8] text-white/60 font-light;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
  .primary-gradient {
    background: linear-gradient(129deg, rgba(123, 37, 231, 1) 0%,
    rgba(44, 82, 209, 1) 50%,
    rgba(21, 191, 253, 1) 100% );
    border-radius: 5px;
  }
  .primary-border {
    border:1px solid linear-gradient(129deg, rgba(123, 37, 231, 1) 0%,
    rgba(44, 82, 209, 1) 50%,
    rgba(21, 191, 253, 1) 100% );
    border-radius: 5px;
  }
}
.gradient-border {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  position: relative;
  z-index: 1;
  border-radius: 30px !important ; /* Ensures border-radius is applied by default */
}

.gradient-border:focus {
  border-image-source: linear-gradient(to right, #7d13ff 0%, #15bffd 100%);
  border-width: 2px;
  border-image-slice: 1;
  border-radius: 5px !important; /* Ensures border-radius is applied on focus */
}

.gradient-border:focus::after{
  border-radius: 5px !important; /* Ensures border-radius is applied on focus */
}





.button-default {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  transition: border 0.3s ease, color 0.3s ease, transform 0.3s ease;
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  border-radius: 60px !important;

}

.button-hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  transition: border 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border-radius: 60px !important;

}

.button-hover:hover {
  border-image-source: linear-gradient(to right, #7d13ff 0%, #15bffd 100%);
  border-image-slice: 1;
  color: transparent;
  border-radius: 0px !important;

}

.button-hover:hover::after {
  content: '\2192'; /* Right arrow unicode character */
  position: absolute;
  color: white;
  right: 15px;
  transform: translateX(-10px);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
  border-radius: 0px !important;

}

.button-hover span {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s ease;
  border-radius: 0px !important;

}

.button-hover:hover span {
  opacity: 0;
}

.button-hover::after {
  content: '\2192'; /* Right arrow unicode character */
  position: absolute;
  color: white;
  right: 15px;
  transform: translateX(-30px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  border-radius: 0px !important;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: spin 30s linear infinite;
  width: 1200px !important;
  height: 1200px !important;
  max-width: 1200px !important;
}
.rotate2 {
  animation: rotate2 60s infinite linear;
  width: 800px;
  height: 800px;
  max-width: 800px;
  max-height: 800px;
  min-width: 800px;
  min-height: 800px;
}
@keyframes rotate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width:768px) {
  .icons{
    width: 80px !important;
    height: 80px !important;
  }
}






@media (max-width: 768px) {
  .hover-card-content {
    position: fixed !important;
    bottom: 10px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 90% !important;
  }
}